*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /************ Custom Properties ***********/

   --navbar-background-color: #1f1f1f;

   /* Main Color */
   --primary-color: #0b0b0b;

   /* Secondary Color */
   --secondary-color: #f58033;

   /* Secondary Color Modified */
   --secondary-color-m: #ff94088e;

   /* tertiary color */
   --button-color: linear-gradient(
      90deg,
      #4dd4f7 0%,
      #9090fb 36.46%,
      #ff6b81 71.35%,
      #fbdf63 100%
   );

   /* tertiary color modified */
   --background-color-m: #e5e5e5;
   --modal-color: #1f1f1f;
   --input-color: #5c5c5c;
   height: 100%;
}

li {
   list-style: none;
}
a:link,
a:visited {
   text-decoration: none;
}

.bg {
   background-color: #161616;
}

.container__ {
   width: 80vw;
   margin: 0 auto;
}

.container__2 {
   width: 95vw;
   margin: 0 auto;
}

.tes {
   color: red;
}

.button-a {
   cursor: pointer;
}

.button-a:active {
   /* background-color: #3e8e41; */
   /* box-shadow: 0 5px #666; */
   transform: translateY(4px);
}

.clicked {
   cursor: pointer;
}

.image-size-100 {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.image-size-100-rounded {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.form-size-100 {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.form-design {
   border-radius: 5px;
   background-color: rgba(171, 171, 171, 0.15);
   padding: 0.5rem;
   color: white;
   outline: none;
   border: 2px solid #d2d2d2;
   height: 3.9rem;
   width: 100%;
   margin-bottom: 3rem;
   font-size: 2rem;
}

.form-design-select {
   border-radius: 5px;
   background-color: rgba(171, 171, 171, 0.15);
   padding: 0.5rem;
   color: white;
   outline: none;
   border: 2px solid #d2d2d2;
   height: 3.9rem;
   width: 100%;
   margin-bottom: 3rem;
   font-size: 2rem;
   background-color: #1f1f1f;
}

::-webkit-scrollbar {
   width: 0.4rem;
}
/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: #5c5c5c;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: grey;
}

.bg-image-colorfull {
   width: 6rem;
   height: 6rem;
   /* background-color: white; */
   border-radius: 50%;
   background-color: #fff;
   padding: 0.2rem;
}

.bg-image-pp-colorfull {
   /* background-color: white; */
   border-radius: 50%;
   background: var(--button-color);
   position: relative;
   padding: 0.4rem;
}

.display-flex {
   display: flex;
}

.pages-container-padding {
   padding: 1.5rem 0 3.5rem 3rem;
}

.rounded {
   border-radius: 50px;
}

.remove-focus {
}

.remove-focus:focus {
   outline: none !important;
   border: none !important;
}

/* dropdown style */

.background-dropdown-item {
   background-color: #3a3a3a;
   font-size: 2rem;
}

.dropdown-style {
   border: transparent !important;
   outline: transparent !important;
   background-color: transparent !important;
   font-size: 2rem;
}
.dropdown-style:active {
   border: transparent !important;
   outline: transparent !important;
   background-color: transparent !important;
}

.dropdown-style:focus {
   border: transparent !important;
   outline: transparent !important;
   background-color: transparent !important;
}

.dropdown-style:hover {
   background-color: transparent !important;
   outline: transparent !important;
   border: transparent !important;
}

.dropdown-style:focus {
   background-color: transparent !important;
   outline: transparent !important;
   border: transparent !important;
}

.dropdown-style:active {
   background-color: transparent !important;
   outline: transparent !important;
   border: transparent !important;
}

/* modal register login styling */
.modal-background {
   background-color: #161616;
}

.login {
   padding: 4rem 2.5rem;
   /* border-radius: 5px; */
}

.login input {
   width: 100%;
   height: 4rem;
   font-size: 2rem;
   border-radius: 5px;
   background-color: var(--input-color);
   margin-bottom: 3rem;
   padding: 1rem;
   border: white 1px solid;
   color: white;
}

.login input:focus {
   border-color: #d2d2d2 !important;
   outline: 0;
}

.login select {
   width: 100%;
   height: 4rem;
   font-size: 1.8rem;
   border-radius: 5px;
   background-color: var(--input-color);
   margin-bottom: 3rem;
   padding: 1rem;
   border: white 1px solid;
   color: white;
}

.login select:focus {
   border-color: #d2d2d2 !important;
   outline: 0;
}

.submit-login {
   margin-top: 1.5rem;
   background-color: #ee4622;
   height: 4rem;
   font-weight: bold;
   border-radius: 5px;
   font-size: 1.8rem;
   color: white;
   display: flex;
}

.submit-login p {
   margin: auto;
}
